[Desktop Entry]
Name=Archive Manager
Comment=Archive Manager

Icon=jarchive

Type=Application
Categories=System

Exec=jarchive
StartupNotify=false
Terminal=false
MimeType=

Title=jfArchive
