[Desktop Entry]
Name=Java WebBrowser
Comment=Java WebBrowser (no plugins, javascript) (HTML 3.4 only)

Icon=jweb

Type=Application
Categories=System

Exec=jweb
StartupNotify=false
Terminal=false
MimeType=

Title=jfWeb
