[Desktop Entry]
Name=Paint
Comment=Edit graphics images.

Icon=jpaint

Type=Application
Categories=System

Exec=jpaint %f
StartupNotify=false
Terminal=false
MimeType=image/jpeg;image/png;image/x-ms-bmp
Action=edit

Title=jfPaint
