[Desktop Entry]
Name=File Manager
Comment=Manage your files.

Icon=jfile

Type=Application
Categories=System

Exec=jfile
StartupNotify=false
Terminal=false
MimeType=

Title=jFile
