[Desktop Entry]
Name=Terminal Emulator
Comment=Terminal Emulator

Icon=jterm

Type=Application
Categories=System

Exec=jterm
StartupNotify=false
Terminal=false
MimeType=

Title=jfTerm
