[Desktop Entry]
Name=Hex Editor (big files)
Comment=Hex Editor (big files)

Icon=jhexbig

Type=Application
Categories=System

Exec=japps
StartupNotify=false
Terminal=false
MimeType=

Title=jhexbig
