[Desktop Entry]
Name=jPhoneLite
Comment=VoIP/SIP SoftPhone

Icon=jphonelite

Type=Application
Categories=System

Exec=jphonelite
StartupNotify=false
Terminal=false
MimeType=

Title=jPhoneLite
